@import "messageWindow.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    outline: none;
    box-sizing: border-box;
    padding: 0;

    font-family: 'JetBrains Mono', monospace;

    --additional: #1E1E1E;
    --additional-darken: #111111;

    --main: #8763A8;
    --main-darken: #5f3a73;
}

body {
    overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'JetBrains Mono', monospace;
    font-weight: bold;
    position: relative;
}

h2 {
    padding-left: 30px;
}

h2:before {
    content: "";
    width: 25px;
    height: 7px;
    background: var(--main);
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
}

textarea {
    max-height: 500px;
}

button, .button {
    transition: transform 0.3s, background 0.3s ease-in-out;
}

button:hover, .button:hover {
    transform: scale(1.1);
}

button.background-main:hover {
    background: var(--main-darken);
}

button.background-dark:hover {
    background: var(--additional-darken);
}

.header__burger-menu {
    display: none;
}

.nav__close {
    display: none;
    position: absolute;
    top: 0.5em;
    right: 0.5em;
}

.container {
    padding: 0 20px;
}

.about {
    margin-top: 15em;
}

.background-dark {
    background: var(--additional);
}

.background-main {
    background: var(--main);
}

.back-block, .back-block-2 {
    width: 50em;
    height: 30em;
    right: -12em;
}

.back-block-2 {
    bottom: -20em;
}

.service .material-symbols-outlined {
    font-size: 8rem !important;
}

.service:first-child {
    background: var(--additional);
}

.service:nth-child(2) {
    background: var(--main);
}

.service:last-child {
    background: var(--additional);
}

.project span {
    position: absolute;
    background: var(--main);
    right: -0.25em;
    bottom: 0.75em;
}

@media screen and (max-width: 1280px) {
    .services .grid, .last-projects .grid {
        grid-template-columns: repeat(2, 1fr);
    }

    .project:first-child, .service:first-child {
        grid-column: 1 / -1;
    }

    .last-projects .grid .project {
        margin-top: 0 !important;
    }

    .back-block, .back-block-2 {
        right: -24em;
    }
}

@media screen and (max-width: 1024px) {
    .back-block, .back-block-2 {
        right: -36em;
    }

    .header__burger-menu {
        display: flex;
    }

    .nav {
        position: fixed;
        left: -100%;
        top: 1em;
        background: white;
        border: 0.25em solid var(--additional);
        border-radius: 1em;
        z-index: 20;
        grid-template-columns: 1fr !important;
        grid-auto-rows: 2rem;
        padding: 1em 2em;
        align-items: flex-start;
        grid-gap: 0.25rem !important;
        transition: left 0.3s ease-in-out;
    }

    .nav.active {
        left: 1em;
    }

    .nav.active .nav__close {
        display: inline-block;
    }

    header .logo {
        left: 3em;
    }
}

@media screen and (max-width: 800px) {
    .services .grid, .last-projects .grid {
        grid-template-columns: 1fr;
    }

    .leave-message form {
        margin: 0 auto;
        display: block;
    }

    .back-block, .back-block-2 {
        display: none;
    }
}

@media screen and (max-width: 550px) {
    html {
        font-size: 10px;
    }

    .header__contact {
        display: none;
    }

    .header__burger-menu {
        margin-left: auto;

    }

    .header__burger-menu span {
        font-size: 3rem;
    }
}